<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Scire.NFeManifestacao.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Scire.NFeManifestacao.Properties.Settings>
      <setting name="Cnpj" serializeAs="String">
        <value>45007911000189</value>
      </setting>
      <setting name="Razao" serializeAs="String">
        <value>JLV LIVRARIA LTDA</value>
      </setting>
      <setting name="DiretorioNfe" serializeAs="String">
        <value>C:\\NFe</value>
      </setting>
      <setting name="Uf" serializeAs="String">
        <value>SP</value>
      </setting>
      <setting name="UltimoNSU" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UltimoSefaz" serializeAs="String">
        <value />
      </setting>
    </Scire.NFeManifestacao.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RecepcaoEventoSoap"  maxReceivedMessageSize="1000000">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="NFeRecepcaoEvento4Soap"  maxReceivedMessageSize="1000000">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="NFeDistribuicaoDFeSoap"  maxReceivedMessageSize="1000000">
			<security mode="Transport">
				<transport clientCredentialType="Certificate" />
			</security>
        </binding>
        <binding name="NFeDistribuicaoDFeSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.nfe.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx" binding="basicHttpBinding" bindingConfiguration="RecepcaoEventoSoap" contract="wsRecepcaoEvento100.RecepcaoEventoSoap" name="RecepcaoEventoSoap" />
      <endpoint address="https://www.nfe.fazenda.gov.br/NFeRecepcaoEvento4/NFeRecepcaoEvento4.asmx" binding="basicHttpBinding" bindingConfiguration="NFeRecepcaoEvento4Soap" contract="RecepcaoEventoServ.NFeRecepcaoEvento4Soap" name="NFeRecepcaoEvento4Soap" />
      <endpoint address="https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx" binding="basicHttpBinding" bindingConfiguration="NFeDistribuicaoDFeSoap" contract="NfeDistribuicaoServ.NFeDistribuicaoDFeSoap" name="NFeDistribuicaoDFeSoap" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><connectionStrings><add name="manifestaEntities" connectionString="metadata=res://*/DAL.ManifestacaoModel.csdl|res://*/DAL.ManifestacaoModel.ssdl|res://*/DAL.ManifestacaoModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.216;user id=root;password=auc795;persistsecurityinfo=True;database=Scirenfe;port=3306&quot;" providerName="System.Data.EntityClient" /><add name="ScireNfeEntities" connectionString="metadata=res://*/DAL.ScireNfeModel.csdl|res://*/DAL.ScireNfeModel.ssdl|res://*/DAL.ScireNfeModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.216;user id=root;password=auc795;persistsecurityinfo=True;allowzerodatetime=True;convertzerodatetime=True;database=Scirenfe;port=3306&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>