<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Scire.NfeDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Scire.NfeDownload.Properties.Settings.dbScireConnectionString"
      connectionString="Dsn=PostgreSQL;database=dbScire;server=192.168.0.5;port=5432;uid=postgres;sslmode=disable;readonly=0;protocol=7.4;fakeoidindex=0;showoidcolumn=0;rowversioning=0;showsystemtables=0;fetch=100;unknownsizes=0;maxvarcharsize=255;maxlongvarcharsize=8190;debug=0;commlog=0;usedeclarefetch=0;textaslongvarchar=1;unknownsaslongvarchar=0;boolsaschar=1;parse=0;extrasystableprefixes=dd_;lfconversion=1;updatablecursors=1;trueisminus1=0;bi=0;byteaaslongvarbinary=0;useserversideprepare=1;lowercaseidentifier=0;gssauthusegss=0;xaopt=1"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NFeDistribuicaoDFeSoap" maxReceivedMessageSize="1000000">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>
          </security>
        </binding>
        <binding name="NFeDistribuicaoDFeSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx" binding="basicHttpBinding" bindingConfiguration="NFeDistribuicaoDFeSoap" contract="NfeDistribuicaoServ.NFeDistribuicaoDFeSoap" name="NFeDistribuicaoDFeSoap"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Scire.NfeDownload.Properties.Settings>
      <setting name="Uf" serializeAs="String">
        <value>SP</value>
      </setting>
      <setting name="PastaPadrao" serializeAs="String">
        <value>C:\\temp\</value>
      </setting>
      <setting name="IntervaloSegundos" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Razao" serializeAs="String">
        <value>"EUCLIDES RENATO GARBUIO TRANSPORTES LTDA"</value>
      </setting>
      <setting name="Cnpj" serializeAs="String">
        <value>56385834000117</value>
      </setting>
    </Scire.NfeDownload.Properties.Settings>   
  </userSettings>
</configuration>
